body{
    margin: 0;
    margin-top: 50px;
    cursor: url(https://cutekawaiiresources.files.wordpress.com/2016/11/hangyodon-bullet-6.gif), auto !important;
}
.nav-bar{
    opacity: 0.9;
    height: 80px;
    width: 100%;
    position:fixed;
    top:0;
    z-index: 1;

    padding: 0;
    box-sizing: border-box;
    background-color: #f6accd;
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
}
.logo{
    height: 70px;
    width: 70px;
    margin-left: 12px;
    margin-top: 5px;
}
.nav-list{
    float:right;
    margin-right:15px;
    margin-top:20px;
}
.list-item{
    color:  black;
    display:inline;
    list-style-type:none;
    padding:0px 45px;

}
.nav-list a{
    text-decoration: none;
    text-align: center;
    font-size: 25px;
}
.list-item:hover{
    color: palevioletred;
}
section{
    height: 100vh;
    border-bottom: 9px solid #f6accd;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


    /* this below is for the background pic */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
 .hangyodon{
    width: 900px;
    position: relative;
    right: 6%;
}



h1{
    font-family: 'Lobster', cursive;
    margin-left: 7%;
    right: 5%;
    position: relative;
}


/* this bottom h2 is the styling for the footer text */
 h2{
    font-family: 'Lobster', cursive;
}



.fa-twitter-square{
    color: white;
    padding-left: 75%;
    padding-right: 10px;
}
.fa-twitter-square:hover{
    color: #f6accd;
}





.fa-reddit-square{
    color: white;
    padding-right: 10px;
}
.fa-reddit-square:hover{
    color: #f6accd;
}







.fa-facebook-square{
    color: white;
    padding-right: 10px;
}
.fa-facebook-square:hover{
    color: #f6accd;
}





.fa-github-square{
    color: white;
    padding-right: 10px;
}
.fa-github-square:hover{
    color: #f6accd;
}







.fa-tumblr-square{
    color: white;
    padding-right: 10px;
}
.fa-tumblr-square:hover{
    color: #f6accd;
}



footer{
    text-align: center;
    padding: 50px;
    color: white;
    background-color: black;

}
#hero h1{
    font-size: 5em;
}



/* this below is for the background pic */
#hero{
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url(https://cutewallpaper.org/25/anime-ocean-live-wallpaper-gif/anime-background-gif-posted-by-ethan-tremblay.gif)
}
